In [1]:
# Lists
my_list=["cat", 4, 3.14]

In [2]:
my_list

['cat', 4, 3.14]

In [ ]:
# Indexing and slicing

In [3]:
my_list[1]

4

In [7]:
# List Methods
# .append()
my_list.append("Chris")

In [8]:
my_list

['Bob', 4, 3.14, 'Chris']

In [4]:
my_string="Chris"

In [ ]:
my_string.

In [5]:
my_list[0]="Bob"

In [6]:
my_list.

['Bob', 4, 3.14]

In [9]:
# .pop()
my_list.pop()

'Chris'

In [10]:
my_list

['Bob', 4, 3.14]

In [12]:
my_list2=[1,3,9,3,6]

In [14]:
my_list2.sort()

In [15]:
my_list2

[1, 3, 3, 6, 9]

In [17]:
# .count()
print(my_list2.count(8))

0

In [21]:
# .index
print(my_list2.index(9))

4

In [26]:
# .reverse()
my_list2[::-1]

[9, 6, 3, 3, 1]

In [27]:
# concatenate lists
my_list3=my_list+my_list2

In [28]:
my_list3

['Bob', 4, 3.14, 1, 3, 3, 6, 9]

In [19]:
#len()
len(my_list2)

5

In [32]:
my_list2.append(my_list)

In [33]:
my_list2

[1, 3, 3, 6, 9, ['Bob', 4, 3.14]]

In [34]:
# nested lists

my_list4=[my_list2,4,7,1]

In [35]:
my_list4

[[1, 3, 3, 6, 9, ['Bob', 4, 3.14]], 4, 7, 1]

In [36]:
# indexing a nested list
my_list4[0][5][1]

4

In [46]:
# Dictionaries
my_dict={'car':"bmw","sport":"football","GOAT":"Tom Brady"}

In [47]:
my_dict

{'car': 'bmw', 'sport': 'football', 'GOAT': 'Tom Brady'}

In [42]:
my_dict["sport"]

'football'

In [39]:
type(my_dict)

dict

In [ ]:
my_dict.

In [43]:
# Dictionary methods
# .keys()
my_dict.keys()

dict_keys(['car', 'sport', 'GOAT'])

In [45]:
# .values()
my_dict.values()

dict_values(['bmw', 'football', 'Tom Brady'])

In [52]:
my_dict2={"car":"toyota","My List":my_list}

In [53]:
my_dict2

{'car': 'toyota', 'My List': ['Bob', 4, 3.14]}

In [55]:
my_dict2["My List"][0]

'Bob'

In [82]:
my_dict2["color"]="red"

In [83]:
my_dict2

{'car': 'toyota', 'My List': ['Bob', 4, 3.14], 'color': 'red'}

In [57]:
# unpacking dictionaries
# .items()
unpacked=my_dict2.items()

In [58]:
unpacked

dict_items([('car', 'toyota'), ('My List', ['Bob', 4, 3.14])])

In [84]:
# Tuples
my_tuple=("Bob",4,3.14,-1)

In [85]:
my_tuple

('Bob', 4, 3.14, -1)

In [61]:
type(my_tuple)

tuple

In [62]:
len(my_tuple)

3

In [63]:
my_tuple.count(4)

1

In [86]:
my_tuple.index(-1)

3

In [65]:
my_tuple[1]=5     # Tuples are immutable, can't change the value for an item

TypeError: 'tuple' object does not support item assignment

In [66]:
my_tuple2=(3,2,5,["chris","bob"])

In [69]:
my_tuple2[3][1]

'bob'

In [ ]:
# Sets

In [72]:
my_set={1,4,6,7,7,4,1}

In [73]:
my_set

{1, 4, 6, 7}

In [74]:
type(my_set)

set

In [75]:
len(my_set)

4

1

In [ ]:
# None object

In [77]:
my_object=None

In [81]:
print(my_object)

None

In [79]:
type(my_object)

NoneType