In [ ]:
# Comparison Operators

In [1]:
# ==
a=2
b=2
a==b

True

In [2]:
c=3
a==c

False

In [4]:
d="Two"

In [5]:
a==d

False

In [6]:
# !=
a!=d

True

In [8]:
# > and <
a<c

True

In [ ]:
# >=  and <=

In [10]:
a>=c

False

In [13]:
# Chaining

True

In [ ]:
# and

a<b and b<c
# can also be written
a<b<c

In [ ]:
# or
a<b or a>=b

In [1]:
# in
a=2

a in (1,2)

True

In [18]:
a=2
my_list=[1,2,3,4]

a not in my_list

False

In [ ]:
(my_variable_with_a_long_name >= b) or ('a'=='a')  # can use parenthesis to improve readability

In [ ]:
# comparison operators and chaining have no natural order of operation

In [ ]:
# Conditional Statements

In [21]:
# If
if a < b:
    print("a is less than b")
    print("still in the if statement")
    print("still here")
    
print("no longer in the if statement")

a is less than b
still in the if statement
still here
no longer in the if statement

In [25]:
# else, else if
a=2
b=2

if a < b:
    print("a is less than b")
elif a > b:
    print("a is greater than b")
else:
    print("did not meet the other conditions")
    
print("no longer in the conditional code")

did not meet the other conditions
no longer in the conditional code

Write a block of code that checks a variable x to see if it is even
o	If it is even, print “This number is even”
o	If it is not even, but x is greater than or equal to 10, print "this is not even, but greater than or equal to 10"
o	If it is not even, but between (greater than) 5 and 10 (less than), print “this number is greater than five but less than 10"
o	Otherwise, print “this number is not even"
o	After the block of code is finished, print “this operation has completed”

In [ ]:
# loops

In [29]:
# for
for x in range(5):
    print(x)
    
print("exited loop")

0
1
2
3
4
exited loop

In [32]:
# while
z=10
x=0

while x<z:
    print(x," ",z)
    x+=1
    
print("out of the loop")

0   10
1   10
2   10
3   10
4   10
5   10
6   10
7   10
8   10
9   10
out of the loop

1.	Write a Python program to find those numbers which are divisible by 3 and a multiple of 5, between 1 and 100 inclusive (both included). Print each number as it is found.

In [ ]:
x=1
while x <= 100:

for x in range(1,101):

In [36]:
for x in range(1, 106):
    if x % 3 == 0 and x % 5 == 0:
        print(x)

print('out of loop')

15
30
45
60
75
90
105
out of loop

In [ ]:
x = 1
while x<=100:
    if(x%3==0 and x%5==0):
        print("This number, " + str(x) +", is divisible by 3 and a multiple of 5.")
    x+=1
print("While Loop: Operation has ended")

2.	Write a Python program to construct the following pattern, using a nested for loop.
**************
*************	 
************ 
*********** 
********** 
*********
********
*******
******
*****

In [6]:
ast_list=[]
for x in range (15):
    ast_list.append("*")

for i in range(10):
    ast_string=""
    for x in ast_list:
        ast_string+=x
    ast_list.pop()
    print(ast_string)

***************
**************
*************
************
***********
**********
*********
********
*******
******

In [46]:
# 15 stars, 10 lines
x = ""
star_count = 15
for lines in range(11):
    for stars in range(star_count):
        x = x + "*"
    print(x)
    x = ""
    star_count = star_count - 1

***************
**************
*************
************
***********
**********
*********
********
*******
******
*****

In [51]:
stars= "**************" 
for x in range(10):      
    print(stars[:14 - x])

**************
*************
************
***********
**********
*********
********
*******
******
*****

In [ ]:
# enumerate

In [ ]:
# breaking a runaway loop
# select Kernal then interrupt from the menu bar, or ii

In [ ]:
# break, continue, pass
# break exits the loop
# pass does nothing
# continue returns to the top of the loop

x=0
while x < 100:
    print(x)
    x+=1
    if x==10:
        break
    if x%2==0:
        print("even")
    elif x!=10:
        continue
    else:
        pass